[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pyyaml = "*"

[dev-packages]
memory-profiler = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
